---
---

<div>
  <iframe id="tomato" class="hero-video" frameborder="0"></iframe>
  <div class="cover-spline"></div>
</div>

<style>
  .hero-video {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
  }

  .cover-spline {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10em;
    height: 5em;
    z-index: 10;
  }

  @media (max-width: 992px) {
    .hero-video,
    .cover-spline {
      display: none;
    }
  }
</style>

<script>
  if (
    !/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini|Mobile|mobile|CriOS/i.test(
      navigator.userAgent
    )
  ) {
    const iframe = document.getElementById(
      "tomato"
    ) as HTMLIFrameElement | null;
    iframe.src =
      "https://my.spline.design/interactivespherescopy-dca9a7363af107e9af462af7c273b9ef/";
  }
</script>
